<div class="card">
    <div class="card-body">
            <div class="form-group">
                <label for="nome">Nome</label>
                <input type="text" class="form-control" id="nome">
            </div>
            <div class="form-group">
                <label for="Ativo">Ativo?</label>
                <select class="form-control" id="ativo">
                    <option selected value="true">Sim</option>
                    <option value="false">Não</option>
                </select>
            </div>
            <div class="form-group">
                <label for="telefoneObrigatorio">Ativo?</label>
                <select class="form-control" id="telefoneObrigatorio">
                    <option selected>Não</option>
                    <option>Sim</option>
                </select>
            </div>
            <button type="submit" onclick="insertCategoria()">Inserir</button>
    </div>
</div>
<script src="~/js/categorias.js"></script>